{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h3> Please select the thickness level of your wrapping </h3>
<p></p>
<form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
  <input type="radio" id="Thickness1" name="Thickness" value="Thickness1">
  <label for="Thickness1">Thickness1</label><br>
  <input type="radio" id="Thickness2" name="Thickness" value="Thickness2">
  <label for="Thickness2">Thickness2</label><br>
  <input type="radio" id="Thickness3" name="Thickness" value="Thickness3">
  <label for="Thickness3">Thickness3</label>
  <p></p>
  <label for="height">Height (cm)</label>
  <p> <input type="text" id="height" name ="height" value = ""></input>
  <p></p>
  <label for="width">Width (cm)</label>
  <p> <input type="text" id="width" name ="width" value = ""></input>
  <p><input type="file" name="file" accept=".svg"</p>
  <p></p>
  <input type="submit" onclick="alert('File is processing')" value="Submit">
</form>
{% endblock %}